.button{
    width: 200px;
    height: 40px;
    border: 2px solid #555a64;
    border-radius: 20px;
    font-size: 1.14em;
    transition: 0.35s ease-in-out;
}

.button:hover {
    background-color: #555a6490;
    color: white; 
}

.primary {
    background-color: #555a64;
    color: white;
}

.secondary {
    background-color: transparent; 
    color: #555a64;
}
