.table {
    width: 200px;
    height: auto;
    background-color: turquoise;
    border-collapse: collapse;
  
    th,
    td {
      border: none;
      padding: 8px;
      text-align: center;
    }
  }
  