$cellBackgroundColor: rgb(135, 135, 135);

.inputTable {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.table {
  max-width: 100%;
  border-spacing: 0;
  border: 1px solid $cellBackgroundColor;
}

.cell {
  width: 100px;
  height: 20px;
  border: 1px solid $cellBackgroundColor;
  border-spacing: 0;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  &:focus {
    background-color: lightblue;
  }
}
