.headerContainer {
    width: 14%;
    background-color: white;
    height: calc(100vh - 90px);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-right: 1px solid red;
}

.itemText {
    color: black;
}
