.headerContainer {
    width: 16%;
    background-color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.itemText {
    color: black;
}
