.headerContainer {
    width: 15%;
    background-color: white;
    height: calc(100vh - 90px);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.itemText {
    font-weight: 700;
    color: #555a64;
    cursor: pointer;
}
