.appContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.input{
    background-color: transparent;
    border: 1px solid black;
    width: 100px;
    height: 40px;
}
